<div class="container">
  <h3>Food Items</h3>
  <%= form_tag(restaurant_fooditems_path(@restaurant), method: :get, class: 'form-inline my-3') do %>
    <%= text_field_tag :q, params[:q], placeholder: "Search...", class: "form-control me-2" %>
    <%= submit_tag "Search", class: "btn btn-outline-primary" %>
  <% end %>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @fooditems.each do |fooditem| %>
        <tr>
          <td><%= fooditem.name %></td>
          <td><%= fooditem.description %></td>
          <td><%= fooditem.price %></td>
          <td>
            <% if current_user.admin? %>
              <%= link_to "Create Fooditem", new_restaurant_fooditem_path(@restaurant), class: "btn btn-outline-primary mr-1" %>
              <%= link_to "Edit", edit_restaurant_fooditem_path(@restaurant, fooditem), class: "btn btn-outline-primary mr-1" %>
              <%= button_to "Delete", restaurant_fooditem_path(@restaurant, fooditem), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-primary mr-1" %>
            <% else %>
              <%= button_to "Add", cart_cartitems_path(current_user.cart, fooditem_id: fooditem.id), method: :post, class: "btn btn-outline-primary mr-1" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @fooditems, class: 'd-flex justify-content-center' %>
</div>
